#root h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Noto Sans', sans-serif;
}

.pullDown {
  bottom: 0;
  position: relative;
  height: 60px;
  margin-top: 25px;
}

.text-center {
  text-align: center;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  margin-top: 25px;
}

.cartIcon {
  padding: 0 10px;
  margin: 0 10px;
  background-color: rgb(137, 186, 201);
  border-radius: 50%;
}

.book-image {
  display: block;
  margin: auto;
  width: 220px;
  height: 220px;
}

.card-button {
  bottom: 10px;
  position: absolute;
}

.card {
  height: 380px;
  display: block;
  padding: 20px;
  margin: 20px auto !important;
}

.card-description {
  overflow: auto;
}